transformers>=4.19.0
pyaudio
SpeechRecognition
git+https://github.com/openai/whisper.git
git+https://github.com/Uberi/speech_recognition.git
--extra-index-url https://download.pytorch.org/whl/cu113
torch
flask
flask_cors
flask-socketio
tqdm