html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: #f6f6ef;
    display: flex;
    flex-direction: row;
}

.app {
    height: 100%;
    width: 100vw;
}